
.FileList {
  display: flex;
  background: #C9DDC5;
  width: 77%;
  flex-direction: column;
  padding: 1vw 1vw;
  margin: 10px 0;
}

.FileList h1 {
  font-size: 1rem;
  font-weight: 400;
}

.FileListPreview {
  max-height: 14vw;
  position: relative;
  overflow: hidden;
}

.FileListPreview:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgba(255,255,255, 0) 0%, #C9DDC5 100%);
}

.FileListPreview.active {
  display: block;
  overflow: inherit;
  position: static;
  max-height: initial;
}
.FileListPreview.active:before {
  display: none;
}

.FileListPreview img {
  width: 100%;
}

.FileListActions {
  display: flex;
  list-style: none;
  padding: 0;
}

.FileListActions li {
  margin: 0 5px;
}

.FileListActions a, .FileListActions button {
  display: block;
  background: #A4D0AC;
  padding: 5px 13px;
  border: none;
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}

.FileListActions button.delete {
  background: #D0A4A4;
}

.FileListSection {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FileListFooter {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

