.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appTitle {
  font-family: "Jomolhari";
  font-size: 2.5rem; 
  text-align: center;
}

.uploadFileLabel {
  background: #A4D0AC;
  cursor: pointer;
  font-size: 2rem;
  padding: 4px 31px;
  border-radius: 5px;
  display: block;
  width: 200px;
  text-align: center;
}

.uploadFileLabel input {
  display: none;
}

